body {
  background-color: black;
}

footer {
  text-align: center;
}

.footer1 {
  height: 463px;
  text-align: center;

}

h1 {
  margin-top: 129px;
  margin-bottom: 29px;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
}

a {
  margin-bottom: 40px;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6b6b6b;
  display: flex;
  justify-content: center;
}

input {
  height: 60px;
  padding-left: 3px;
  padding-right: 155px;
  background: #ffffff;
  box-shadow: 0px 0px 0px #fc0a7e;
  border-radius: 3px 0px 0px 3px;
  border: none;
}

.foot-btn {
  width: 154px;
  height: 60px;
  background: #fc0a7e;
  border: none;
}

button:hover {
  cursor: pointer;
}

.link {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #1c1c11;
}

.footer2 {
  height: 242px;
}

img {
  margin-top: 20px;
  margin-bottom: 29px;
}

.spans {
  text-align: center;
}

.foot-span {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #6b6b6b;
  margin-right: 30px;
}
