@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap");

/* .box1 {
  margin-left: 274px;
} */

.text {
  margin-top: 268px;
}

.sec2-span {
  height: 20px;
  left: 0%;
  right: 0%;
  top: 0px;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a8a8a8;
}

h2 {
  margin-top: 30px;
}

.sec2-p {
  margin-top: 70px;
  margin-right: 195px;
  height: 90px;
  left: 12.89%;
  right: 19.11%;
  top: 168px;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6b6b6b;
}

.image-sec2 {
  margin-top: 80px;
  width: 341px;
  height: 637px;
  margin-left: 195px;
  margin-right: 324px;
}

.img6 {
  width: 386px;
  height: 469px;
  margin-right: 144px;
  margin-top: 351px;
}

.title2 {
  height: 48px;
  left: 12.89%;
  right: 39.56%;
  top: 45px;

  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  /* identical to box height, or 126% */

  color: #000000;
}
