.navbar {
    background-image: url(../Img/Rectangle\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.Header {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 30px;
    padding-top: 61px;
}